* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Short Stack', cursive;
}

:root {
    --pink: #ec557b;
    --ivory: #fffff0;
}

body {
    background-color: #28292a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu ul {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.menu li {
    color: var(--ivory);
    list-style-type: none;
    font-size: larger;
    font-weight: bolder;
}

.menu a {
    color: var(--ivory);
    text-decoration: none;
}

.menu a:hover {
    color: var(--pink);
    border-bottom: 1px solid var(--ivory);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.get_in_touch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 22rem;
}

.get_in_touch h2{
    border-bottom: 1px solid var(--ivory);
    color: var(--pink);
    text-align: center;
    font-size: 2rem;
    letter-spacing: 15px;
    margin: 0 auto;
    width: 90%;
    padding: .5rem;
}

.get_in_touch form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
    height: 12rem;
    width: 35rem;
}

.get_in_touch div {
    display: flex;
    color: var(--ivory);
}

.get_in_touch input {
    border-radius: 5px;
    margin-left: 1rem;
    height: 2rem;
    width: 30rem;
}

.get_in_touch textarea {
    border-radius: 5px;
    margin-left: 1rem;
    width: 30rem;
}

.ativarCorBotao{
    opacity: 1;
} 

.get_in_touch button {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #28292a;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ivory);
        border-radius: 1rem;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--pink);
        transition: all .3s;
        border-radius: 1rem;
        z-index: -1;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

    .social_network {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 7rem;
        width: 100%;
    }

    .social_network div {
        width: 25rem;
        display: flex;
        justify-content: space-around;
    }

    .social_network img {
        width: 4rem;
        background-color: var(--ivory);
        border-radius: 17px;
        object-fit: cover;
    }

    footer {
        color: var(--ivory);
        text-align: center;
    }